extends ../layout

block content
  .col-sm-8.col-sm-offset-2
    form(method='POST')
      legend Sign In
      .form-group
        .btn-group.btn-group-justified
          a.btn.btn-github(href='/auth/github')
            i.fa.fa-github
            | GitHub
          a.btn.btn-reddit(href='/auth/reddit')
            i.fa.fa-reddit
            | Reddit
