extends ../partials/profile

block tab-content
    div#news.tab-pane.fade.in.active
        include ../news/newslist

    div(id='filtered-user' data-val=filteredUser)
    script(src='/js/newsIndex.js?v#{cacheBuster}')
