#footer
  .container.text-center
    div
      strong pullup
      | 
      | © 2014 Larva Labs
    div
      a(href='https://github.com/larvalabs/pullup') GitHub Project
      |  ·
      a(href='https://github.com/larvalabs/codepile/issues')  Issues
