#footer
  .container.text-center
    div
      strong pullup
      |  &copy;#{' '}
      span#copyright
      |  Larva Labs
    div
      a(href='/bookmarklet') Bookmarklet
      |  ·
      a(href='https://github.com/larvalabs/pullup')  GitHub Project

input(type='hidden', name='windowscrollto', value=windowscrolly)
