#footer
  .container.text-center
    div
      strong PNet
      | 
      | © 2014 Larva Labs
    div
      | Based on Hackathon Starter project by
      a(href='http://sahatyalkabov.com')  Sahat Yalkabov
    div
      | Code licensed under
      a(href='http://opensource.org/licenses/mit-license.html')  MIT License
    div
      a(href='https://github.com/larvalabs/codepile') GitHub Project
      |  ·
      a(href='https://github.com/larvalabs/codepile/issues')  Issues
