#footer
  .container.text-center
    div
      strong pullup
      | 
      | ©#{' '}
      span#copyright
      |  Larva Labs
    div
      a(href='/bookmarklet') Bookmarklet
      |  · 
      a(href='https://github.com/larvalabs/pullup') GitHub Project
      |  · 
      a(href='https://github.com/larvalabs/codepile/issues') Issues
