if !user && ! cookies.skip_alert
    .alert.alert-info.alert-dismissable
        button.close.alert-joinsite(type='button', data-dismiss='alert', aria-hidden='true') ×
        i.fa.fa-cloud-upload
        strong Join this site via pull request!
        |  Make the site better and become a full member. See the <a href="/about">about page</a> for more details.
