noscript
  .alert.alert-danger.animated.fadeIn
    div
      | This site works best with javascript enabled. Please
      a(href='http://www.draac.com/JavaEnable.html') enable javascript in your browser
      | .
