div.comment
    a(href='/user/' + comment.poster.username)= comment.poster.username
    if comment.poster.profile.description
        span.description=comment.poster.profile.description
    a.timeago(href="/news/#{item.id}/comments/#{comment.id}", title="#{comment.created}")= timeago(comment.created)
    blockquote.content
        +delete(comment.poster, '/news/' + item.id + '/comments/' + comment.id + '/delete')
        if edit
            include postcomment
        else
            != comment.contents

