div.comment
    if !edit && user && comment.poster.username === user.username
        a(href="/news/#{item.id}/comments/#{comment.id}/edit", style="float:right")="edit"

    a(href='/user/' + comment.poster.username)= comment.poster.username
    if comment.poster.profile.description
        span.description=comment.poster.profile.description
    a.timeago(href="/news/#{item.id}/comments/#{comment.id}", title="#{comment.created}")= timeago(comment.created)

    blockquote.content
        if edit
            include postcomment
        else
            +delete(comment.poster, '/news/' + item.id + '/comments/' + comment.id + '/delete')
            != comment.contents

