if user
    .row
      form(action=item._id + '/comments', method='POST')
        .form-group.markdown.row
          ul.nav.nav-tabs.col-sm-12
            li.active
              a(href="#edit-tab-content", data-toggle="tab") Write
            li
              a(href="#preview-tab-content", data-toggle="tab") Preview
          .tab-content.col-sm-12
            .tab-pane.fade.in.active#edit-tab-content
              textarea.form-control(type='text', class="user-atwho" name='contents', id='summary', style='height:200px')=comment.source
            .tab-pane.fade.in#preview-tab-content
              span Loading...
        .row
            .col-sm-3
                input.btn.btn-primary.btn-block(type='submit', value='Add Comment')
