doctype html
html
  head
    title 404 Not Found
    style.
      @import url("//fonts.googleapis.com/css?family=Lato:400,700,900,400italic");
      body {
        background-color: #EFEFEF;
        color: #2E2F30;
        text-align: center;
        font-family: "Lato", arial, sans-serif;
      }
      div.dialog {
        width: 25em;
        margin: 4em auto 0 auto;
        border: 1px solid #CCC;
        border-right-color: #999;
        border-left-color: #999;
        border-bottom-color: #BBB;
        border-top: #8CC84B solid 4px;
        border-radius: 9px;
        background-color: white;
        overflow: hidden;
      }
      h1 {
        font-size: 40px;
        color: #480;
        line-height: 1em;
      }
      p {
        padding: 0 1em 1em 1em;
      }
      a {
        background: #8CC84B;
        color: white;
        padding: 1em 0;
        text-decoration: none;
        display: block;
        width: 100%
      }
      ::selection {
        background: #8CC84B;
        color: white;
      }
  body
    .dialog
      h1 You Found Me!
      p I'm pretty sure that this the page you're looking for if you're trying to get lost in the jungle of links.
      a(href='http://pullup.herokuapp.com/') Back to Recent News
