doctype html
html
  head
    title 404 Not Found
    link(href='/css/404.css?v=#{cacheBuster}', rel='stylesheet')
  body
    .dialog
      h1 You Found Me!
      p I'm pretty sure that this is the page you're looking for if you're trying to get lost in the jungle of links.
      a(href='http://pullup.herokuapp.com/') Back to Recent News
