extends layout

block content
    div.jumbotron
        h1 What is pullup?
        p.lead It’s a site you join via pull request. Other than that, it’s up to you.
        a(class='button btn btn-info btn-large', href='https://github.com/larvalabs/pullup')
            span.fa.fa-download
            | Pull from GitHub

    h3 FAQ
    dl.faq
        dt What does the site do?
        dd Not much yet! So far it’s just a terrible and featureless clone of Hacker News, but it would be great if it ended up growing into something else.
        dt How exactly do I join?
        dd Add a feature, fix a bug, improve the design, whatever you like. See more details <a href="/signup">over here</a>.
        dt What feature should I add?
        dd Right now we could use things like commenting, voting, bookmarklet and so on. If you’re ambitious maybe private messaging? Almost anything, as even this page sucks, for example.
        dt What technology is the site using?
        dd
            a(href="http://nodejs.org/") NodeJS
            | ,#{' '}
            a(href="http://expressjs.com/") Express
            | , and#{' '}
            a(href="http://www.mongodb.org/") Mongo
            | . We figured pretty much everybody knows JavaScript, so it’d be a good universal language for the site.
        dt Why did you make this?
        dd We wondered what a site would be like where every user had contributed some code. It should mean no spam, no content marketing, and hopefully a stronger feeling of community.