extends layout

block content
    h1 What is this thing?
    p.lead
        | It's a site you join via pull request. Other than that, it's up to you.
    p
        | FAQ:
        dl
            dt What does the site do?
            dd Not much yet! So far it's just a terrible and featureless Hacker News type thing, but it'd be great if it ended up growing into something else.
            dt How exactly do I join?
            dd Basically add a feature, fix a bug, improve the design, whatever you like. See more details <a href="/signup">over here</a>.
            dt What should I add in my pull request?
            dd Right now we could using things like commenting, voting, and so on. If you're ambitious maybe private messaging? Almost anything, even this page sucks for example.
            dt What technology is the site using?
            dd NodeJS, express, and mongo. We figured pretty much everybody knows JavaScript, so it'd be a good universal language for the site.
            dt Why did you make this?
            dd We wondered what a site would be like where everyone had contributed some code. It'd mean no spam, no content marketing, and hopefully a stronger feeling of community.
