extends layout

block content
    div.jumbotron
        h1 Bookmarklet
        p.lead Submit links to Pullup directly from your browser
    p To install, drag this link to your browser toolbar: 
      a.small(style="text-decoration:underline;", href="javascript:window.location=%22https://pullup.io/news/submit?u=%22+encodeURIComponent(document.location)") post to Pullup
    p When you click on the bookmarklet, it will submit the page you're on.
