extends layout

block content
  script(type="text/javascript", src="/js/homepage.js")

  section.hero
    h1 pullup
    h2 an organic community of digital creators

  section.features.row
    .col-md-6.discussions
      h3 Discussions
      h4
        | with people who actually know
        br
        | what they’re talking about.

      .illustration
        .chat.chat-primary What do you think about...
        .chat Personally, I think that...
        .chat In the past I have...

    .col-md-6.news
      h3 News Feed
      h4
        | We raise the signal and
        br
        | drop the noise.

      .illustration
        .news-item
          h5
            a(href="https://github.com/blog/1831-atom-free-and-open-source-for-everyone") Atom: Now open to all
          address
            | by
            a.poster(href="http://pullup.io/news/users/michaelnovakjr")  michaelnovakjr
          a.comments(href="http://pullup.io/news/5368fc394450720400359552") 5 comments
        .news-item
          h5
            a(href="http://dcurt.is/facebooks-predicament") Whatever goes up, that’s what we do
          address
            | by
            a(href="http://pullup.io/news/users/dfjones")  dfjones
          a(href="http://pullup.io/news/53349c81e6d4e20a001c2beb") 7 comments
        .news-item
          h5
            a(href="http://gabrielecirulli.github.io/2048/") 2048
          address
            | by
            a(href="http://pullup.io/news/users/willurd")  willurd
          a(href="http://pullup.io/news/531ed2b1dcdf7d040037209a") 3 comments
        .news-item
          h5
            a(href="http://gabrielecirulli.github.io/2048/") 2048
          address
            | by
            a(href="http://pullup.io/news/users/willurd")  willurd
          a(href="http://pullup.io/news/531ed2b1dcdf7d040037209a") 3 comments
        .news-item
          h5
            a(href="http://gabrielecirulli.github.io/2048/") 2048
          address
            | by
            a(href="http://pullup.io/news/users/willurd")  willurd
          a(href="http://pullup.io/news/531ed2b1dcdf7d040037209a") 3 comments

    a(href="/news").col-md-6.col-md-offset-3.cta.cta-green
      span Sound Interesting?
      span Come inside and join us!

  section.issues.row
    h3 Pullup Membership
    h4 submit a pull request to join!

    ul.col-md-6.col-md-offset-3
      each issue in issues
        li.issue
          span.tag Beginner
          br
          a.id(href=issue.html_url)
            | #
            = issue.number
          a.title(href=issue.html_url)= issue.title

    a(href="/news").col-md-6.col-md-offset-3.cta
      span Not sure what to work on?
      span Poke around and see if you find anything!

block extended_footer
  .made-by
    h3 Made with Love by
    p
      each user, index in users
        if index != 0
          |  ·

        a(href="/news/user/#{user}")  #{user}
