extends layout

block content
  section.hero
    h1 pullup
    h2 an organic community of digital creators

  section.features.row
    .col-md-6.discussions
      h3 Discussions
      h4
        | with people who actually know
        br
        | what they’re talking about.

      .illustration
        .chat.chat-primary What do you think about...
        .chat Personally, I think that...
        .chat In the past I have...

    .col-md-6.news
      h3 News Feed
      h4
        | We raise the signal and
        br
        | drop the noise.

      .illustration
