extends layout

block content
    h1 How to Sign Up
    p.lead
        | There’s only one way to become a user on pullup: via <strong>pull request</strong>.
    p
        | More specifically:
        ol
            li
                | Fork#{' '}
                a(href="https://github.com/larvalabs/pullup") this project
                |  on GitHub.
            li Add a feature, fix a bug, fix a typo, or improve the design.
            li Add your GitHub username to the <a href="https://github.com/larvalabs/pullup/blob/master/config/userlist.js">authorized user list</a>.
            li Submit a pull request. When we merge, you’ll be a full user!
