extends layout

block content
    script(type="text/javascript", src="http://sysinct.herokuapp.com/socket.io/socket.io.js")
    script(type="text/javascript", src="/js/logs.js")
    script(type="text/javascript", src="/js/lib/ansi_up.js")
    h3 Logs
    div#log-list
