extends ../layout
include ../mixins/delete


block content
    include ../partials/joinsite
    .page-header
        h4= title
        if page > 1
            small
                |  · Page #{page}
        if user
            a.btn.btn-primary.btn-sm.pull-right(href='/news/submit') Submit News

    div.tab-content
        include ./list
        include ./pagination

    div(id='filtered-user' data-val=filteredUser)
    script(src='/js/newsIndex.js?v#{cacheBuster}')
