extends ../layout
include ../mixins/delete

block content
  #news-show.news-item
    include ../partials/joinsite
    include newsitem
    include ../comments/postcomment
    include ../comments/listcomments
