extends ../layout

block content
  form.form-horizontal(id='signup-form', method='POST')
    legend Submit News
    p
      em Just populate the URL and press tab, and let us fill out the rest!
      |  You can also use our 
      a(href='/bookmarklet') bookmarklet.

    .form-group
      label.col-sm-3.control-label(for='url') URL
      .col-sm-7
        if address
          input.form-control(type='text', name='url', id='url', value='#{address}', placeholder='URL')
        else
          input.form-control(type='text', name='url', id='url', placeholder='URL', autofocus)
    .form-group
      label.col-sm-3.control-label(for='title') Title
      .col-sm-7
        if address
          input.form-control(type='text', name='title', id='title', placeholder='Title', autofocus)
        else
          input.form-control(type='text', name='title', id='title', placeholder='Title')
    .form-group
      label.col-sm-3.control-label(for='source') Source
      .col-sm-7
        input.form-control(type='text', name='source', id='source')
    .form-group
      label.col-sm-3.control-label(for='summary') Summary
      .col-sm-7
        textarea.form-control(type='text', name='summary', id='summary', style='height:200px')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-check
          | Submit
